<h1>Stupid Coaching</h1>

<%# answer?question=hello %>
<%# answer?%2Fanswer=hello %>
<h1><%= @question + "    -from you" %></h1>
<h2><%= def coach_answer_enhanced(your_message)
  if your_message == your_message.upcase
    if your_message.include?("?")
      "I can feel your motivation! Silly question, get dressed and go to work!"
    elsif your_message.include?("I AM GOING TO WORK RIGHT NOW!")
      ""
    elsif your_message.include?("?") == false
      "I can feel your motivation! I don't care, get dressed and go to work!"
    end
  else
    if your_message.include?("?")
      "Silly question, get dressed and go to work!"
    elsif your_message.include?("I am going to work right now!")
      ""
    elsif your_message.include?("?") == false
      "I don't care, get dressed and go to work!"
    end
  end
end
coach_answer_enhanced(@question) + "     -your stupid coach" %></h2>
